<html>
<head>

</head>
<body>
<form id="form" name="form" action="" method="post">
	<div id="block">
		<label id="user">username</label>
		<input type="text" name="username" id="name" placeholder="Username" required/>
		<label id="pass">password</label>
		<input type="password" name="password" id="password" placeholder="Password" required />
		<input type="submit" id="submit" name="submit" value="Login"/>
	</div>
</form>
<div id="option"> 
	<p>Sign in</p> 
	<a href="#">forgot?</a>
</div>
</body>
</html>